<html>

<head>
    <title>upload file</title>

</head>

<body>
    <h1>UPLOAD FILE</h1>

    <form method="post" action="/upload" enctype="multipart/form-data">
        <label for="file">Choose file to upload:</label>
        <input type="file" id="file" name="fileName" required>
        <button type="submit">Upload</button>
    </form>


</body>

</html>