<html>

<head>
    <title>URL Shortener</title>

</head>

<body>
    <h1>URL Shortener</h1>
    <% if (locals.shortUrl) { %>
        <p>Shortened URL: <%= shortUrl %>
        </p>
        <% } %>

            <form method="post" action="/url/">
                <label for="redirectUrl">Enter URL to shorten:</label>
                <input type="text" id="redirectUrl" name="redirectUrl" required>
                <button type="submit">Shorten</button>
            </form>


</body>

</html>